.header {
  display: flex;
  justify-content: space-between;
  background-color: #000000;
  padding: 35px 30px;
}
.header .delivery-btn {
  background: none;
  border: 2px solid #ea002a;
  border-radius: 5px;
  background-color: #1c1816;

  img {
    height: 30px;
    padding: 3px;
  }
  span {
    font-size: 14px;
    font-weight: 700;
    color: whitesmoke;
  }
}
.header .pickup-btn {
  background-color: #1c1816;

  border-radius: 5px;

  img {
    height: 30px;
    padding: 3px;
  }
  span {
    font-size: 14px;
    font-weight: 700;
    color: whitesmoke;
  }
}
.header .cart {
  a {
    min-width: 64px;
    padding: 6px;

    text-decoration: none;
    background-color: #ea002a;
    color: whitesmoke;
    font-weight: 700;
    text-transform: uppercase;
    border: none;
    border-radius: 3px;
    line-height: 1.75;
    letter-spacing: 0.02857em;
  }
}
/* .items-title {
  color: white;
  padding-bottom: 30px;
}
.items-title:before {
  content: "";
  height: 3px;
  width: 60%;
  background-color: red;
  left: 0;
  position: absolute;
  top: 100%;
  z-index: -1;
} */
.meal-1 {
  background-color: #1c1816;
  display: inline-block;
  border-radius: 50% 50% 3% 50%;
  text-align: center;
  img {
    width: 180px;
  }
  h6 {
    color: whitesmoke;
    text-align: center;
  }
}
.meal-2 {
  background-color: #1c1816;
  display: inline-block;
  border-radius: 50% 50% 3% 50%;
  text-align: center;
  img {
    width: 180px;
  }
  h6 {
    color: whitesmoke;
  }
}

.best-seller {
  display: flex;
  gap: 20px;
  overflow-x: auto;

  .krunch-burger {
    background-color: #1c1816;
    height: 370px;
    display: flex;
    position: relative;
    align-items: end;
    border-radius: 3px;
    padding-bottom: 10px;
    h6 {
      color: #fff;
      color: var(--white);
      cursor: pointer;
      font-family: National2CondensedBold;
      font-family: var(--theam-font);
      font-size: 23px;
      left: 18px;
      position: absolute;
      top: 16%;
      transform: translateY(-50%);
    }
    img {
      display: flex;
      width: 290px;
    }
  }
}
.kfc-box {
  display: flex;
  gap: 7px;
  left: 50%;
  position: absolute;
  top: 0;
  transform: translate(-50%);
  z-index: 9;
}
.kfc-box span {
  background-color: #ea002a;
  /* background-color: var(--theam); */
  border-radius: 0 0 1px 1px;
  height: 22px;
  width: 15px;
}
.wdp-ribbon {
  background-color: #ea002a !important;
  border-radius: 0.25em;
  border-radius: 0;
  color: #fff;
  display: inline-block;
  font-weight: 800;
  height: 28px;
  line-height: 24px;
  padding: 2px 15px;
  position: absolute;
  right: 0;
  text-align: center;
  text-shadow: none;
  top: 80px;
  vertical-align: initial;
  white-space: nowrap;
  width: 80px;
}
.wdp-ribbon-two:before {
  border-color: #ea002a;
  border-left-color: #0000 !important;
  left: -9px;
}
.wdp-ribbon-two:before {
  border-width: 9px;
  border-bottom: 14px solid #0000;
  border-left: 8px solid #0000;
  border-right: 8px solid #ea002a;
  border-top: 14px solid #0000;
  content: "";
  display: inline-block;
  left: -14px;
  position: absolute;
  top: 0;
}
